# General folders
data
__pycache__

# References or LaTeX output
*.pdf

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
